@import "tailwindcss";

:root {
  --background: #C9DADD;
  --foreground: #2E3F57;

  /* Paleta Admin Costa */
  --costa-navy: #2E3F57;
  --costa-gris: #8FA6B3;
  --costa-agua: #C9DADD;
  --costa-arena: #E6D3B3;
  --costa-blanco: #F8F8F6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Colores personalizados */
  --color-costa-navy: var(--costa-navy);
  --color-costa-gris: var(--costa-gris);
  --color-costa-agua: var(--costa-agua);
  --color-costa-arena: var(--costa-arena);
  --color-costa-blanco: var(--costa-blanco);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
